# Node
node_modules/
.pnpm-store/
.pnp.*
.pnpm-debug.log

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
packages/*/node_modules/

# Build outputs
packages/*/.next/
packages/*/build/
packages/*/.expo/
packages/*/.turbo/

# Ignore dist directories except for shared package
packages/*/dist/
!packages/shared/dist/

# Vercel
.vercel/

# Expo
.expo/
.expo-shared/
*.apk
*.aab

# TypeScript
*.tsbuildinfo

# Mac system files
.DS_Store

# IDEs
.vscode/
.idea/

# Env vars
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.prettierrc
